{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


<main id="site-main" class="site-main index-page outer">
    <div class="inner posts">
        <div class="tags-title-container">
            {{#tag}}
                <h2 class="post-featured-title">{{name}}</h2>
                <div class="post-card-excerpt">
                    <p>
                        {{#if description}}
                        {{description}}
                        {{else}}
                        A collection of {{plural ../pagination.total empty='zero posts' singular='% post' plural='% posts'}}
                        {{/if}}
                    </p>
                </div>
            {{/tag}}
        </div>

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}

        </div>
    </div>
</main>
